app = "deed-api"
primary_region = "cdg"

[build]
build-target = "final"
dockerfile = "src/Deed/Deed.Api/Dockerfile"
ignorefile = ".dockerignore"

[checks.health_check]
interval = "2m0s"
method = "GET"
path = "/health"
port = 8080
timeout = "5s"
type = "http"

[http_service]
auto_start_machines = true
auto_stop_machines = true
force_https = true
internal_port = 8080
processes = [ "app" ]

[[vm]]
cpu_kind = "shared"
cpus = 1
memory = "1gb"
