.dialog-title {
  display: flex;
  justify-content: center;
  gap: 2px;

  h2 {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
  }
}

.dialog-content {
  font-size: 17px;
  padding: 16px;
  text-align: center;
}

.dialog-actions {
  display: flex;
  justify-content: center;
  gap: 4px;
}
