<app-form
  [form]="form"
  [fields]="fields"
  headerText="{{capital.name}} details"
  submitButtonText="Update"
  cancelButtonText="Cancel"
  (submitForm)="saveChanges()"
  (cancelForm)="cancelChanges()"
>
</app-form>

<form [formGroup]="form" class="cp-details" *ngIf="capital" (ngSubmit)="saveChanges()">
  <div class="cp-details-col">
    <label class="cp-text" for="Balance">Balance</label>
    <div class="balance-input">
      <input
        id="balance"
        type="number"
        formControlName="Balance"
        placeholder="Balance"
      />

      <select class="currency" formControlName="Currency">
        <option [value]="capital.currency">
          {{ capital.currency }}
        </option>
        <option *ngFor="let currency of currencyOptions" [value]="currency.key">{{ currency.value }}</option>
      </select>
    </div>

    <div *ngIf="modelInvalidAndTouched('balance')" class="error-message">
      <span *ngIf="modelError('balance', 'required')">Balance is required.</span>
    </div>
  </div>

  <div class="cp-details-col">
    <button
      class="btn"
      type="button"
      (click)="redirectToExpensePage(capital.id)"
    >
      <span>Redirect to expense page</span>
      <app-icon [name]="'fa-arrow-right'"></app-icon>
    </button>
  </div>

  <div class="cp-actions">
    <ng-container *ngIf="formModified; else nonModifiedActions">
      <button
        class="cp-act-item save"
        type="submit"
        [disabled]="form.invalid">
          Save
        </button>
      <button type="button" class="cp-act-item cancel" (click)="cancelChanges()">Cancel</button>
    </ng-container>

    <ng-template #nonModifiedActions>
      <button type="button" class="cp-act-item delete" (click)="remove(capital.id)">Delete</button>
    </ng-template>
  </div>
</form>
