<app-layout>
  <ul class="flex justify-center gap-3 bg-slate-400 border rounded-lg">
    <li class="rounded border p-2 cursor-pointer bg-cyan-900 text-white hover:bg-gray-300">
      <a>Expenses</a>
    </li>
    <li class="rounded border p-2 cursor-pointer bg-cyan-900 text-white opacity-40 hover:bg-gray-300">
      <a href="/incomes">Incomes</a>
    </li>
  </ul>

  <div class="flex justify-center gap-3 mb-6">
    <button
      (click)="toggleCreateDialog()"
      class="flex items-center gap-2 border rounded-lg px-4 py-2 shadow-md transition"
    >
      <app-icon name="fa-circle-plus"></app-icon>
      <span>New</span>
    </button>

    <div
      class="flex items-center gap-2 border rounded-lg px-3 py-2 shadow-md transition"
    >
      <app-icon name="fa-wallet"></app-icon>
      <select
        class="rounded-lg px-4 py-1 focus:outline-zinc-200"
        [ngModel]="selectedCapital"
        (ngModelChange)="onCapitalChange($event)"
      >
        <option [value]="null">All</option>
        @for (capital of capitals; track capital.id) {
          <option class="border-t border-black" [ngValue]="capital">
            {{capital.name}}
          </option>
        }
      </select>
    </div>

    <button
      (click)="toggleCategories()"
      class="flex items-center gap-2 border rounded-lg px-3 py-2 shadow-md transition"
    >
      <app-icon name="fa-layer-group"></app-icon>
      <span>Categories</span>
    </button>
  </div>

  <div class="flex justify-center items-center border rounded-lg bg-white p-2 gap-2 relative">
    <span class="text-lg font-medium" title="Balance">{{ capitalBalance | currencySymbol: capitalCurrency }} </span>
    <span class="text-sm text-red-600" title="Expenses">- {{ capitalTotalExpenses | currencySymbol: capitalCurrency }}</span>
  </div>

  @if (expenseCategories.length > 0) {
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4 bg-white border rounded-lg mt-4 p-3">
      @for (expenseCategory of expenseCategories; track expenseCategory.categoryId) {
        <div class="relative">
          <div
            class="flex justify-between items-center gap-4 p-4 bg-gradient-to-r from-red-100 to-red-200 rounded-md cursor-pointer hover:shadow-md hover:scale-[1.01] transition-all duration-150 select-none"
            (click)="toggleExpensesList(expenseCategory.categoryId)"
          >
            <div class="flex flex-col">
              <span class="font-semibold text-gray-800">{{ expenseCategory.name }}</span>
              <span class="text-sm text-gray-600">{{ expenseCategory.percentage }}%</span>
            </div>
    
            <div class="flex flex-col text-right">
              <span class="font-bold text-gray-900">{{ expenseCategory.categorySum | currencySymbol: capitalCurrency }}</span>
            </div>
    
            @if (isPlannedPeriodShown(expenseCategory)) {
              <span [ngClass]="{
                'text-green-600 font-semibold text-sm': isCategorySumGreaterPlannedPeriod(expenseCategory),
                'text-red-600 font-semibold text-sm': !isCategorySumGreaterPlannedPeriod(expenseCategory)
               }">
                {{ expenseCategory.plannedPeriodAmount | currencySymbol: capitalCurrency }}
              </span>
              <span class="text-xs uppercase text-gray-500">{{ expenseCategory.periodType | enumText: PerPeriodType }}</span>
            }
          </div>
    
          @if (openedExpensesCategoryId === expenseCategory.categoryId) {
            <div class="bg-gray-50 border-t border-gray-200 shadow-inner animate-fadeIn p-3">
              @for (e of expenseCategory.expenses; track e.id) {
                <div
                  class="flex justify-between items-center py-2 border-b border-gray-100 last:border-0 text-sm"
                >
                  <span class="text-gray-500">{{ e.paymentDate | date: 'dd/MM/yy' }}</span>
                  <span class="text-center font-medium text-gray-800 truncate w-24" [title]="e.amount">{{ e.amount | currencySymbol: capitalCurrency }}</span>
                  <span class="text-gray-700 truncate w-24" [title]="e.purpose">{{ e.purpose ?? 'No comment' }}</span>
                  <div class="flex gap-2">
                    <button
                      title="Edit expense"
                      (click)="toggleEditExpenseDialog(e, expenseCategory.categoryId)"
                      class="text-blue-700 hover:text-blue-900 transition-colors"
                    >
                      <app-icon name="fa-gear" />
                    </button>
                    <button
                      title="Delete expense"
                      (click)="deleteExpense(e.id, expenseCategory.categoryId)"
                      class="text-red-500 hover:text-red-700 transition-colors"
                    >
                      <app-icon name="fa-circle-xmark" />
                    </button>
                  </div>
                </div>
              }
            </div>
          }
        </div>
      }
    </div>
  }
</app-layout>
