<app-layout title="Capitals">
  <div class="cp-lh ">
    <div class="ta">
      <span class="ta-text">Total balance:</span>
      <span class="ta-sum">
        {{ totalCapitalBalance | currencySymbol: mainCurrency }}
      </span>
    </div>

    <div class="cp-bar">
      <input class="cp-search" placeholder="Search for..." maxlength="24" [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange()" />

      <div class="cp-sort">
        <button class="sort-direction" (click)="onSortDirectionChange()" [title]="sortDirection === 'asc' ? 'Ascending' : 'Descending'">
          <app-icon [name]="sortDirection === 'asc' ? 'fa-arrow-up' : 'fa-arrow-down'"></app-icon>
        </button>

        <span>Sort by:</span>
        <select [(ngModel)]="selectedSortOption" (change)="onSortChange()">
          @for (option of sortOptions; track option.key) {
            <option [value]="option.key">{{ option.label }}</option>
          }
        </select>
      </div>

      <div class="cp-currency">
        <span>Default:</span>
        <select [(ngModel)]="mainCurrencyVal" (change)="onCurrencyChange($event)">
           @for (option of currencyOptions; track `${option.key}:${option.value}`) {
            <option [value]="option.value">{{ option.key }}</option>
          }
        </select>
      </div>

      @if (capitals.length > 0) {
        <button (click)="openToCreateCapitalDialog()" title="Create new">
          <app-icon class="btn-create-icon" [name]="'fa-circle-plus'"></app-icon>
        </button>
      }
    </div>
  </div>

  @if (capitals.length > 0) {
    <div cdkDropList (cdkDropListDropped)="drop($event)" class="cp-list">
      @for (capital of capitals; track capital.id) {
        <div
          cdkDrag
          [@slideRemove]
          [ngClass]="capitalBackgroundClass(capital.includeInTotal, capital.onlyForSavings)"
        >
          <div class="cp-name-balance">
            <button
              (click)="toggleEditDialog(capital)"
              (keydown.enter)="toggleEditDialog(capital)"
              (keydown.space)="toggleEditDialog(capital)"
            >
              {{ capital.name }}
            </button>
            <div class="cp-balance" title="Balance">
              {{ capital.balance | currencySymbol: capital.currency }}
            </div>
          </div>
    
          @if (!capital.onlyForSavings) {
            <div [class]="capital.includeInTotal ? 'cp-stats bg-white border-slate-300 border-2 rounded-xl py-1' : 'cp-stats bg-white rounded-xl py-1'">
              @for (propsItem of capitalStatItems; track propsItem.key) {
                <a
                  class="cp-stats-item"
                  [title]="propsItem.title + ' ' + capital[propsItem.key]"
                  [ngClass]="propsItem.style"
                  [href]="propsItem.url ? propsItem.url + '?capitalId=' + capital.id : 'capitals'"
                >
                  <app-icon [name]="propsItem.icon"></app-icon>
                  <span class="cp-stats-value">
                    {{ capital[propsItem.key] }}
                  </span>
                </a>
          
              }
            </div>
          }

          <div class="cp-actions-compact">
            <button class="menu" (click)="toggleMenu(capital.id)">
              <app-icon [name]="isCapitalActionsOpen && openMenuId === capital.id ? 'fa-solid fa-caret-left' : 'fa-solid fa-caret-down'"></app-icon>
            </button>
    
            <ul class="actions" [ngClass]="{'open': isCapitalActionsOpen && openMenuId === capital.id}">
              <li title="Include into total" [class]="'cp-d-act cp-visible ' + (capital.includeInTotal ? 'text-blue-500' : 'opacity-55')" (click)="toggleIncludeInTotal(capital.id)">
                <app-icon [name]="capital.includeInTotal ? 'fa-eye' : 'fa-eye-slash'"></app-icon>
              </li>
              <li title="Toggle savings only" [class]="capital.onlyForSavings ? 'text-green-600 hover:text-green-500' : 'opacity-55'" (click)="toggleSavingsOnly(capital.id)">
                <app-icon name="fa-piggy-bank"></app-icon>
              </li>
              <li title="Remove" class="cp-d-act cp-delete" (click)="deleteCapital(capital.id)">
                <app-icon name="fa-trash"></app-icon>
              </li>
            </ul>
          </div>

          <div class="cp-actions">
            <button title="Include in total" [class]="'cp-visible ' + (capital.includeInTotal ? 'text-blue-500' : 'opacity-55')" (click)="toggleIncludeInTotal(capital.id)">
              <app-icon [name]="capital.includeInTotal ? 'fa-eye' : 'fa-eye-slash'"></app-icon>
            </button>

            <button title="Toggle savings only" [class]="capital.onlyForSavings ? 'text-green-600 hover:text-green-500' : 'opacity-55'" (click)="toggleSavingsOnly(capital.id)">
              <app-icon name="fa-piggy-bank"></app-icon>
            </button>
    
            <button title="Remove" class="cp-delete text-red-600 hover:text-red-500" (click)="deleteCapital(capital.id)">
              <app-icon name='fa-trash'></app-icon>
            </button>
          </div>
        </div>
      }
    </div>

    <span class="text-sm text-gray-400 flex justify-center">In total {{ capitals.length }} capitals</span>
  }
  @else {
    <button
    class="no-capitals"
    (click)="openToCreateCapitalDialog()"
    (keydown.enter)="openToCreateCapitalDialog()"
    (keydown.space)="openToCreateCapitalDialog()"
    >
      Create your first capital...
      <app-icon class="btn-create-icon" [name]="'fa-circle-plus'"></app-icon>
    </button>
  }
</app-layout>

