@use "sass:map";
@use './variables.scss' as vars;

@mixin respond-to($breakpoint) {
    @if map.has-key(vars.$breakpoints, $breakpoint) {
        @media (min-width: map.get(vars.$breakpoints, $breakpoint)) {
            @content;
        }
    }

    @else {
        @warn "No breakpoint named `#{$breakpoint}` found.";
    }
}