@use './popup.scss';

@use "@fortawesome/fontawesome-free/css/all.min.css";

@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';

[class*='-container'] {
    max-width: 1396px;
    padding: 0 20px;
    margin: 0 auto;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cdk-overlay-container {
  max-width: none !important;
}
