<header class="header">
  <div class="header-container">
    <div class="header-inner">
      <div class="head">
        <button class="burger-menu" (click)="isSidebarExpanded = true" aria-label="Open menu">
          <app-icon [name]="'fa-bars'"></app-icon>
        </button>

        <a class="logo" routerLink="/">
          <img alt="DeedLogo" src="../../../../favicon.ico">
        </a>

        <button class="home" routerLink="/" aria-label="Home">
          <app-icon [name]="'fa-home'"></app-icon>
        </button>

        <button class="exchange-button" (click)="openExchangeDialog()" aria-label="Open exchange dialog">
          <app-icon [name]="'fa-money-bill-wave'"></app-icon>
        </button>
      </div>

      <div class="exchanges">
        @for (exchange of exchanges; track exchange.sale) {
          <div class="exchange">
            <div class="prices">
              <span>{{ exchange?.buy || '0' | number: '1.2-2' }}</span>
              <span>{{ exchange?.sale || '0' | number: '1.2-2' }}</span>
            </div>
            <div class="currencies">
              <span>{{ exchange?.targetCurrency || 'None' }}</span>
              <span>{{ exchange?.nationalCurrency || 'None' }}</span>
            </div>
          </div>
        }
        @if (exchanges.length > 3) {
          <div class="exchange more-btn">
              <button (click)="openExchangeDialog()"></button>
          </div>
        }
      </div>

      <nav class="navigation">
        <ul class="list">
          @for (item of navItems; track item.label) {
            <li class="item" [routerLink]="item.link">
              <app-icon [name]="item.icon"></app-icon>
              {{ item.label }}
            </li>
          }
        </ul>
      </nav>

      <div class="profile">
        <button class="account-button">
          <app-icon [name]="'fa-user-circle'"></app-icon>
          <span class="profile-text">Profile</span>
        </button>
      </div>
    </div>
  </div>

  <div class="sidebar" [ngClass]="{'expanded': isSidebarExpanded}">
    <div class="sidebar-header">
      <button class="sidebar-btn-close" (click)="isSidebarExpanded = false" aria-label="Close menu">
        <app-icon [name]="'fa-times'"></app-icon>
      </button>
      <span>Menu</span>
    </div>

    <div class="sidebar-content">
      <nav class="sidebar-nav">
        <ul class="sidebar-nav-list">
          @for (item of navItems; track item.label) {
            <a class="sidebar-nav-item" [routerLink]="item.link" (click)="isSidebarExpanded = false">
              <app-icon [name]="item.icon"></app-icon>
              {{ item.label }}
            </a>
          }
        </ul>
      </nav>
    </div>
  </div>
</header>
