@use '../../../../assets/scss/variables.scss' as var;

.footer {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10px;
  background-color: var.$primary-background-color;
  color: var.$text-color-wh;
}
