@import '../../../../assets/scss/variables.scss';

.footer {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10px;
  background-color: $primary-background-color;
  color: $text-color-wh;
}
