name: Deploy to Azure

on:
  push:
    branches: [ master ]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  ACR_NAME: deedregistry
  ACR_LOGIN_SERVER: deedregistry.azurecr.io
  IMAGE_NAME: deed-api
  RESOURCE_GROUP: deed-rg
  CONTAINER_APP_NAME: deed
  CONTAINER_NAME: deed

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Restore
      run: dotnet restore

    - name: Build
      run: dotnet build -c Release --no-restore

    - name: Test
      run: dotnet test Deed.slnx --configuration Release
      working-directory: ./src/Deed
      
    - name: Azure Login
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.DEED_AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.DEED_AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.DEED_AZURE_SUBSCRIPTION_ID }}
        
    - name: Login to ACR
      run: az acr login --name $ACR_NAME
      
    - name: Build & Push
      run: |
        docker build -f src/Deed/Deed.Api/Dockerfile -t $ACR_LOGIN_SERVER/$IMAGE_NAME:${{ github.sha }} .
        docker push $ACR_LOGIN_SERVER/$IMAGE_NAME:${{ github.sha }}

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
    - name: Azure Login
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.DEED_AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.DEED_AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.DEED_AZURE_SUBSCRIPTION_ID }}

    - name: Deploy
      run: |
        az config set extension.use_dynamic_install=yes_without_prompt

        az containerapp update \
          --name $CONTAINER_APP_NAME \
          --resource-group $RESOURCE_GROUP \
          --container-name $CONTAINER_NAME \
          --image $ACR_LOGIN_SERVER/$IMAGE_NAME:${{ github.sha }} \
          --set-env-vars \
          AuthSettings__Audience=secretref:auth-audience \
          AuthSettings__ClientID=secretref:auth-clientid \
          AuthSettings__ClientSecret=secretref:auth-clientsecret \
          AuthSettings__Domain=secretref:auth-domain \
          DatabaseConnection=secretref:db-connection \
          WebUrlSettings__UIUrl=secretref:webui-url
