name: Deploy to Fly.io

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Restore
        run: dotnet restore
        working-directory: ./src/Deed/Deed.Api

      - name: Build
        run: dotnet build --no-restore --configuration Release
        working-directory: ./src/Deed/Deed.Api
        
      - name: Unit tests
        run: dotnet test Deed.Tests.Unit.csproj --no-build --configuration Release
        working-directory: ./tests/Deed.Tests.Unit

      - name: Publish
        run: dotnet publish -c Release -o ./publish
        working-directory: ./src/Deed/Deed.Api

  deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write
      contents: read
    needs: build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.DEED_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.DEED_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.DEED_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: src/Deed/Deed.Api
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: deedregistry.azurecr.io
          registryUsername: ${{ secrets.DEED_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.DEED_REGISTRY_PASSWORD }}
          containerAppName: deed
          resourceGroup: deed-rg
          imageToBuild: deedregistry.azurecr.io/deed:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_