name: Trigger auto deployment for deed

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ master ]
    paths:
    - '**'
    - '.github/workflows/deed-AutoDeployTrigger-cd0880cf-f89a-4c3d-a61d-9646dc170fdd.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.DEED_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.DEED_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.DEED_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}src/Deed/Deed.Api
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: deedregistry.azurecr.io
          registryUsername: ${{ secrets.DEED_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.DEED_REGISTRY_PASSWORD }}
          containerAppName: deed
          resourceGroup: deed-rg
          imageToBuild: deedregistry.azurecr.io/deed:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


