name: Build and deploy Frontend to Netlify

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20.19.0

      - name: Install Dependencies
        run: npm install
        working-directory: src/WebUI

      - name: Inject API URL
        run: |
          echo "Injecting API URL for production build..."
          sed -i "s|PLACEHOLDER_API_URL|${{ secrets.API_URL }}|g" src/WebUI/src/environments/environment.production.ts

      - name: Build Angular
        run: npm run build --configuration=production
        working-directory: src/WebUI

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v2
        with:
          publish-dir: "src/WebUI/dist/deed/browser"
          production-branch: master
          github-token: ${{ secrets.GITHUB_TOKEN }}
          deploy-message: "Deployed Angular App via GitHub Actions"
          alias: "latest"
          enable-pull-request-comment: true